[submodule "crc/baselines/discrepancy_vae"]
	path = crc/baselines/discrepancy_vae
	url = git@github.com:simonbing/discrepancy_vae.git
[submodule "crc/utils/chamber_sim"]
	path = crc/utils/chamber_sim
	url = git@github.com:juangamella/chamber-simulators_internal.git
