[submodule "crc/baselines/discrepancy_vae"]
	path = crc/baselines/discrepancy_vae
	url = git@github.com:simonbing/discrepancy_vae.git
[submodule "crc/baselines/multiview_crl"]
	path = crc/baselines/multiview_crl
	url = git@github.com:simonbing/multiview-crl.git
[submodule "crc/baselines/citris"]
	path = crc/baselines/citris
	url = git@github.com:simonbing/CITRIS.git
